{% extends "base.html" %}

{% block title %}Arts{% endblock %}
{% load staticfiles%}
{% block content %}
        <style type="text/css">
            @media only screen and (max-width: 700px) {
                .search {
                    width: 90%;
                }
              }
        </style>
     <div class="text-center search">
        <div class="input-group mb-3 search">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">                 
                <i class="fas fa-search" aria-hidden="true"></i></button>
          </div>
          <input type="text" class="form-control" placeholder="Search topics, news, users.." aria-label="Search" aria-describedby="button-addon1">
        </div>
    </div>
    <div class="container">
        <h3>Latest Arts</h3>
        <img src="{% static "Rectangle 6.png"%}" width="10%">
        <div class="row">
        {% for art in arts %}
        
            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                  <div class="card-body">

                    <h5 class="card-title"><img class="rounded-circle" alt="" src="{{MEDIA_URL}}{{ report.photo.url }}"
                    data-holder-rendered="true" width="50px">  {{art.title}}</h5>

                    {{art.content|safe|truncatewords:20}}<br>
                    {% if art.user == art.user %}
                        <a class="btn btn-info" href="{% url 'reports:delete' art.id art.slug %}">delete</a>
                    {% endif %}
                    <a href="{{ art.get_absolute_url }}" class="btn btn-secondary">Read More</a>
                  </div>
                </div>
              </div>
          
        {% endfor %}
    </div>
    </div>
{% endblock %}
